.footer-social-links {
  display: flex;
  gap: 4px;
}

.footer {
  padding: 120px 16px 16px 16px;
  margin-top: auto;
}

.footer-socials,
.footer-details {
  padding-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .footer-container {
    padding: 16px;
  }

  .book-link {
    font-size: 12vw;
    letter-spacing: -0.4rem;
    color: #4b4b4b;
    font-weight: 500;
    font-family: "Alien Block", sans-serif;
  }

  .book-link:hover {
    color: #80ef80;
  }

  .footer-socials,
  .footer-details {
    padding-bottom: 0;
  }

  .footer {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(24, 1fr);
    padding: 16px 16px 16px 16px;
  }

  .footer-framing {
    padding: 24px;
  }

  .footer-title {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .footer-page-links {
    grid-column: 13 / 25;
    grid-row: 1 / 2;
    justify-self: end;
  }

  .book-li {
    grid-column: 1 / 25;
    grid-row: 2 / 3;
    justify-self: center;
  }

  .footer-location {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
  }

  .footer-email {
    grid-column: 9 / 17;
    grid-row: 3 / 4;
    justify-self: center;
    text-align: center;
  }

  .footer-development {
    grid-column: 17 / 25;
    grid-row: 3 / 4;
    justify-self: end;
    text-align: right;
  }
}
