.footer {
  padding: 16px 16px 16px 16px;
  margin-top: auto;
}

.footer-socials,
.footer-details {
  padding-bottom: 16px;
}

.footer-title {
  padding-bottom: 24px;
}

.footer-page-links {
  padding-bottom: 32px;
  display: none;
}

/* .footer-page-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

/* .footer-framing {
  background-color: #4b4b4b;
  color: #ecebeb;
  padding: 16px;
} */

.book-li {
  padding-bottom: 20px;
}

.book-link {
  display: inline-block;
  font-family: "Alagard", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 13vw;
  line-height: 1;
  letter-spacing: -0.1rem;
}

.book-link:hover {
  color: #37ff00;
}

.footer-location {
  padding-bottom: 12px;
}

.footer-email {
  padding-bottom: 12px;
}

.footer-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.book-li {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  justify-self: center;
}

.footer-location {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.footer-email {
  grid-column: 4 / 7;
  grid-row: 1 /2;
  justify-self: end;
  text-align: center;
}

.footer-development {
  grid-column: 4 / 7;
  grid-row: 3 / 4;
  justify-self: end;
  text-align: right;
}

@media screen and (min-width: 480px) {
  .footer-page-links {
    display: block;
  }

  .footer-location {
    padding-bottom: 0;
  }

  .footer-email {
    padding-bottom: 0;
  }

  .book-link {
    font-size: 15vw;
    letter-spacing: -0.4rem;
    color: #37ff00;
    font-weight: 400;
    font-family: "Alagard", sans-serif;
  }

  .book-link:hover {
    color: #9d9d9d;
  }

  .footer-socials,
  .footer-details {
    padding-bottom: 0;
  }

  .book-li {
    grid-column: 1 / 25;
    grid-row: 2 / 3;
    justify-self: center;
  }

  .footer-title {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .footer-page-links {
    grid-column: 13 / 25;
    grid-row: 1 / 2;
    justify-self: end;
  }

  .footer-location {
    grid-column: 1 / 9;
    grid-row: 3 / 4;
  }

  .footer-email {
    grid-column: 9 / 17;
    grid-row: 3 / 4;
    justify-self: center;
    text-align: center;
  }

  .footer-development {
    grid-column: 17 / 25;
    grid-row: 3 / 4;
    justify-self: end;
    text-align: right;
  }
}
