.hero-logo-spacer {
  height: 100vh;
}

.hero-logo {
  position: fixed;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100vw, 1200px);
  height: auto;
  z-index: 55;
  cursor: pointer;
}
