.nav-links-left,
.nav-links-right {
  display: none;
}

:root {
  --nav-height: 88px;
}

.nav-spacer {
  height: var(--nav-height);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
}

.nav-fade {
  background-image: linear-gradient(#efede9, transparent);
  background-position: top;
  background-repeat: no-repeat;
}

.nav-content {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.nav-logo {
  height: 56px;
  width: auto;
  display: block;
}

.site:has(> .home) .nav-logo {
  opacity: 0;
  pointer-events: none;
}

.menu-button {
  margin-left: auto;
  z-index: 70;
  position: relative;
  color: #4b4b4b;
}

.nav-header {
  z-index: 70;
  position: relative;
}

/* Overlay */
.nav-overlay {
  position: fixed;
  top: 0;
  inset: 0;
  background-color: rgba(75, 75, 75, 0.7);
  z-index: 60;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.nav-overlay-links {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #37ff00;
  gap: 16px;
}

@media screen and (min-width: 480px) {
  .nav-links-left,
  .nav-links-right {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .nav-links-right {
    justify-content: flex-end;
  }

  .menu-button {
    display: none;
  }

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
  }

  .nav-header {
    display: flex;
  }

  .nav-logo {
    height: 82px;
    width: auto;
  }

  :root {
    --nav-height: 122px;
  }
}
